<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Hitung Vokal pada Kalimat</h1>
<form action="" method="get">
    <label for="str">Masukan kalimat:</label><br>
    <textarea type="text" id="str" name="str" value="" required ></textarea><br><br>
    <input type="submit" value="Jumlah Huruf Vokal ada " name="count">
    <input type="submit" value="Vokalnya yaitu " name="karakter">
    <h1 th:text="${str}"></h1>
    <h1 th:text="${count}"></h1>
    <h1 th:text="${karakter}"></h1>
</form>
</body>
</html>
